.btn {
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #b70064;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d06f9a;
  background-image: -webkit-linear-gradient(top, #d06f9a, #d06f9a);
  background-image: -moz-linear-gradient(top, #d06f9a, #d06f9a);
  background-image: -ms-linear-gradient(top, #d06f9a, #d06f9a);
  background-image: -o-linear-gradient(top, #d06f9a, #d06f9a);
  background-image: linear-gradient(to bottom, #d06f9a, #d06f9a);
  text-decoration: none;
}
div.centre
{
  padding-top: 60px;
  text-align:center;
}
.center-button 
{
	display: block;
}
.button-padding
{
	padding: 20px 20px 20px 20px;
}
.featurette-h3
{
	font-size: 30px;
}
.featurette-h4
{
	font-weight: bold;
}
.about-rfc-image
{
	max-width: 500px;
}
.social-media 
{
	width: 30px;
}
.social-media-padding
{
	padding-right: 10px;
}
.social-media-div
{
	padding-bottom:10px;
}
/*To get rid of weird underline when hovering image */
.social-media-hover:hover
{
	text-decoration: none;
}
.header-logo
{
	max-width:100%;
	height:auto;
/*	max-width: 1000px;*/
}
@media(max-width:1200px) {
	.featurette-h3 
	{
		font-size: 25px;
	}
	.social-media 
	{
		width: 25px;
	}
}
@media(max-width:991px) {
	.featurette-h3 
	{
		font-size: 25px;
	}
	.social-media 
	{
		width: 20px;
	}
}
@media(max-width:768px) {
	.featurette-h3 
	{
		font-size: 20px;
	}
}
@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}
